.loginPage {
  form {
    max-width: 380px;
  }

  .message {
    margin-top: 15px;
  }

  .appLogo {
    width: 150px;
    height: 160px;
    box-sizing: border-box;
    margin: 0 auto 25px;
    img {
      display: block;
      width: 150px;
    }      
  }

  .formTitle {
    margin-bottom: 25px;
  }
}