.app {
  .brand {
    $size: 128px;
    background: url('./upper-logo.svg') no-repeat center center;
    width: $size;
    height: 40px;
    margin: -10px auto;
  }

  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }

  .socialLogo {
    width: 30px;
    height: 30px;
  }

  .red {
    color: #F74933;
  }

  .strong {
    font-weight: bold;
  }
}

.appContent {
  padding-top: 30px;
  margin: 30px auto 60px auto; // for fixed navbar
}

