.app {
  .brandLogo {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: url('https://storage.googleapis.com/cerebral/cerebral-logo-no-text.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
  }

  nav :global(.fa) {
    font-size: 1em;
    line-height: 20px;
  }

  .socialLogo {
    width: 30px;
    height: 30px;
  }

  .red {
    color: #F74933;
  }

  .strong {
    font-weight: bold;
  }
}

.appContent {
  padding-top: 30px;
  margin: 25px auto 90px auto; // for fixed navbar
}

