.error {
   color: red;
   font-style: italic;
}

.colorPrimary {
  color: #842195;
}

.standardBox {
  padding: 15px 35px 12px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 
      0px 0px 0px 0px rgba( 255,255,255,0.4 ), 
      0px 4px 20px rgba( 0,0,0,0.33 );
  border-radius: 5px;
}

//colors
$black: #000;
$color_biscay_approx: #1a3668;

//@extend-elements
//original selectors
//.loader-box:after, .loader-box:before
%extend_1 {
	content: '';
	position: absolute;
	left: 0;
  width: 80px;
	height: 80px;
}


.loaderBox {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px;
	&:after {
		@extend %extend_1;
		background: url('https://storage.googleapis.com/cerebral/loading-bubbles.svg');
		background-repeat: no-repeat;
    background-size: 80px;
    top: 0;
	}
}